apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-green
  labels:
    color: green
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      color: green
  template:
    metadata:
      labels:
        color: green
    spec:
      containers:
      - name: app
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        ports:
        - containerPort: 8080